git+https://github.com/mattvenn/alphasign
forex-python==1.5 # for bitcoin and other rates
tweepy # for twitter
requests # kickstarter
bs4 # beautiful soup for kickstarter and rss
feedparser # for rss
